<div class="body">
  <form fxLayout="column" fxLayoutGap="8px" [formGroup]="formEdicion">
    <div class="iniciar-sesion">
      <img src="../assets/img/Logo-PREP.png" alt="">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Usuario</label>
      <input #miInput matInput type="text" formControlName="usuario" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input #miInput matInput type="password" class="form-control"  formControlName="contrasenia" id="exampleInputPassword1">
    </div>
    <button (click)="OnClickBtnIngresar()" class="btn btn-primary">Iniciar Sesión</button>
  </form>
</div>