<ng-container container>

<!-- Aquí se agrega el nav-bar -->
<nav class="navbar bg-body-tertiary">
  <form class="container-fluid justify-content-start">
    <button class="btn" type="button">Cerrar sesión</button> 
    <div class="prep-name">
      <img src="../assets/img/Logo-PREP.png" alt="">
    </div>
  </form>
</nav>
    <div class="container" style="padding-top: 5%;">
        <div class="example-container">
            <div style="width: 100%; display: flex; text-align: center; justify-content: center;">
                <div fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center" *ngIf="mostrarSpiner">
                    <mat-progress-spinner class="example-margin" [color]="colorSpiner" [mode]="mode" [value]="value"
                        diameter='60'>
                    </mat-progress-spinner>
                </div>
            </div>
            <div class="container mt-5">
              <div class="alert alert-warning" role="alert" *ngIf="errorMsj && !goodMsj">
               {{errorMsj}}
              </div>
              <div class="alert alert-primary" role="alert"  *ngIf="goodMsj">
                {{goodMsj}}
              </div>
                <div class="row" *ngIf="listaPartidos.length > 0">
                  <div *ngFor="let partido of listaPartidos" class="col-md-4 mb-4">
                    <div class="card h-100" (click)="onClickEjercerVoto(partido.id)" style="cursor: pointer;">
                      <div style="display: flex; justify-content: center; text-align: center; width: 100%;">
                        <img [src]="'data:image/png;base64,' + partido.imagenPartido?.data" alt="Imagen" style="width: 200px; height: auto;">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">{{ partido.nombre }}</h5>
                        <p class="card-text">{{ partido.descripcion }}</p>
                        <h6>Candidato:</h6>
                        <p>{{ partido.nombreCandidato }} {{ partido.apellidoCandidato }}</p>
                        <h6>Propuestas:</h6>
                        <ul>
                          <li *ngFor="let propuesta of partido.propuestas">
                            <strong>{{ propuesta.nombreCorto }}</strong>: {{ propuesta.descripcion }}
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
  <!-- Footer -->
  <div class="container-footer">
    <div class="footer-columns">
      <div class="footer-column">
          <p>Página con fines educativos</p>
      </div>
      <div class="footer-column">
         <p>© 2024 | Instituto Nacional Electoral</p>
      </div>
    </div>
    </div>
</ng-container>