/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Corrige el valor de box-sizing */
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  position: relative;
  top: 50px;
  right: 25px;
  cursor: pointer;
}

h1, h2 {
  color: #030303;
  position: relative;
  top: 0;
  right: 12px;
}

h3 {
  color: #999;
}

.btn {
  background: #c791a8;
  color: white;
  padding: 5px 10px;
  text-align: center;
}

.btn:hover {
  color: #c791a8;
  background: white;
  padding: 3px 8px;
  border: 2px solid #c791a8;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 10px;
  border-bottom: 2px solid #999;
}

table {
  padding: 10px;
}

th, td {
  text-align: left;
  padding: 8px;
}

.side-menu {
  position: fixed;
  background: #a87193;
  width: 20vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.side-menu .prep-name {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-menu li {
  font-size: 24px;
  padding: 10px 40px;
  color: white;
  display: flex;
  align-items: center;
}

.side-menu li:hover {
  background: white;
  color: #B283B9;
}

.side-menu .prep-name img {
  position: relative;
  top: 20px;
  left: 0;
  width: 150px;
  height: 50px;
}

.container {
  position: absolute;
  right: 0;
  width: 80vw;
  height: 100vh;
  background: #F2F2F2;
}

.container .header {
  position: fixed;
  width: 80vw;
  height: 10vh;
  background: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.container .header .nav {
  width: 90%;
  display: flex;
  align-items: center;
}

.container .header .nav .user {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .content {
  position: relative;
  margin-top: 10vh;
  min-height: 90vh;
  background: #ffffff;
}

.container .content .cards {
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container .content .cards .card {
  width: 250px;
  height: 150px;
  background: rgb(255, 255, 255);
  margin: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.container .content .content-2 {
  min-height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container .content .content-2 .recent-payments {
  min-height: 50vh;
  flex: 5;
  background: white;
  margin: 0 25px 25px 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
}

.container .content .content-2 .new-students {
  flex: 2;
  background: white;
  min-height: 50vh;
  margin: 0 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
}

.container .content .content-2 .new-students table td:nth-child(1) img {
  height: 40px;
  width: 40px;
}

@media screen and (max-width: 1050px) {
  .side-menu li {
    font-size: 18px;
  }
}

@media screen and (max-width: 940px) {
  .side-menu li span {
    display: none;
  }
  .side-menu {
    align-items: center;
  }
  .side-menu li img {
    width: 20px;
    height: 20px;
  }
  .side-menu li:hover {
    background: #c791a8;
    padding: 8px 38px;
    border: 2px solid white;
  }
}

@media screen and (max-width: 536px) {
  .prep-name h1 {
    font-size: 16px;
  }
  .container .content .cards {
    justify-content: center;
  }
  .side-menu li img {
    width: 30px;
    height: 30px;
  }
  .container .content .content-2 .recent-payments table th:nth-child(2),
  .container .content .content-2 .recent-payments table td:nth-child(2) {
    display: none;
  }
}

.custom-iconEdit {
  background-image: url("../../../../assets/img/boton-editar.png");
  color: black;
}

.custom-iconDelete {
  background-image: url("../../../../assets/img/borrar.png");
}

.custom-iconMas {
  background-image: url("../../../../assets/img/boton-mas.png");
}

.custom-iconCerrar {
  background-image: url("../../../../assets/img/cerrar.png");
  font-size: 24px;
}

.custom-iconFile {
  background-image: url("../../../../assets/img/carpeta.png");
}

.custom-button {
  width: 200px; /* Ancho del botón */
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-sidenav-container {
  height: 100%;
  overflow: hidden;
}

[side-nav-container-view] mat-sidenav {
  min-width: 432px;
}

[side-nav-container-view] mat-sidenav .mat-title {
  margin: 0;
}

.file-drop {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.file-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sidebar-form {
  position: fixed;
  top: 50%;
  right: -350px;
  width: 350px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 8px 0 0 8px;
  background-color: #fff;
  padding: 20px;
  transform: translateY(-50%);
  transition: right .4s linear;
}

.sidebar-form .show {
  right: 0;
}

.sidebar-form .action {
  position: absolute;
  background-color: #999;
  font-family: 'roboto';
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  left: -95px;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar-form h3 {
  font-family: 'monserrat';
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
  color: rgb(22, 21, 21);
}

.sidebar-form .form-group label {
  font-family: 'roboto';
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 2px;
  color: #333;
}

/* Footer Container */
.container-footer {
  width: 80vw; /* Cambiado a 80vw para que coincida con el navbar */
  background-color: #F2F2F2;
  position: fixed;
  bottom: 0;
  left: 20vw; /* Ajusta esto si tu sidebar tiene un ancho diferente */
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Asegura que el footer esté encima de otros elementos */
}

/* Footer Columns */
.footer-columns {
  display: flex;
  justify-content: flex-start; /* Alinear contenido a la izquierda */
  align-items: center;
  width: 100%;
  padding: 20px;
  color: #333;
  font-size: 14px;
}

/* Footer Column */
.footer-column {
  flex: 1;
  text-align: left; /* Alinear texto a la izquierda */
  padding: 0 10px; /* Añadir padding para espacio entre columnas */
}

/* Footer Logo */
.footer .prep-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-column img {
  width: 30px;
  height: 30px;
}

/* Responsive Design */
@media (max-width: 600px) {
  .footer-columns {
    flex-direction: column;
    align-items: flex-start; /* Alinear columnas a la izquierda */
  }

  .footer-column {
    margin-bottom: 5px;
    padding: 0; /* Eliminar padding extra en modo columna */
  }
}
