<ng-container>
  <div style="min-height: 100vh;">
    <div class="side-menu">
      <div class="prep-name">
        <img src="../assets/img/Logo.png" alt="">
      </div>
      <ul>
        <li *ngIf="!esFuncionario" (click)="onClicListDashBoard()">
          <img src="../assets/img/Dashboard.png" alt="">&nbsp;
          <span style="font-size: 15px;">Panel de {{mRol?.rol}}</span>
        </li>
        <li *ngIf="!esFuncionario" (click)="onClicListPartidos()">
          <img src="../assets/img/Politic.png" alt="">&nbsp;
          <span style="font-size: 15px;">Partidos</span>
        </li>
        <li *ngIf="!esFuncionario" (click)="onClicListFuncionarioCasilla()">
          <img src="../assets/img/Person.png" alt="">&nbsp;
          <span style="font-size: 15px;">Funcionarios de Casilla</span>
        </li>
        <li *ngIf="esFuncionario" (click)="onClicListCasilla()">
          <img src="../assets/img/Inventory.png" alt="">&nbsp;
          <span style="font-size: 15px;">Casillas</span>
        </li>
        <!-- <li *ngIf="esFuncionario" (click)="onClicListAcciones()">
          <img src="../assets/img/Inventory.png" alt="">&nbsp;
          <span style="font-size: 15px;">Acciones</span>
        </li> -->
      </ul>
    </div>

    <div class="container">
      <div class="header">
        <div class="nav">
          <div class="user">
            <a class="btn" (click)="cerrarSesion()">Cerrar sesión</a>
          </div>
          <div class="prep-name">
            <img src="../assets/img/Logo-PREP.png" alt="">
          </div>
        </div>
      </div>
      <div class="content">
        <div class="cards" *ngIf="esDashBoard">
          <div class="card">
            <div class="box">
              <h1>2194</h1>
              <h3>Prueba</h3>
            </div>
            <div class="icon-case">
              <img src="" alt="">
            </div>
          </div>
          <div class="card">
            <div class="box">
              <h1>2194</h1>
              <h3>Prueba</h3>
            </div>
            <div class="icon-case">
              <img src="" alt="">
            </div>
          </div>
          <div class="card">
            <div class="box">
              <h1>2194</h1>
              <h3>Prueba</h3>
            </div>
            <div class="icon-case">
              <img src="" alt="">
            </div>
          </div>
        </div>

        <div *ngIf="esPartidos" style="padding: 5%;">
          <h1>Partidos</h1>
          <button mat-raised-button color="primary" class="custom-button"
            (click)="onClickBtnNuevoPartido()">Crear</button>

          <mat-list class='mat-elevation-z1' *ngIf='listaPartidos.length > 0'>
            <mat-list-item *ngFor="let estado of listaPartidos; last as last"
              style="height: auto; padding: 2%; display: flex; align-items: center;">
              <div style="flex: 1;">
                <h4 mat-line>{{estado.nombre}}</h4>
                <h5 mat-line>{{estado.descripcion}}</h5>
                <h5 mat-line>{{'Candidato : '+estado.nombreCandidato}} {{estado.apellidoCandidato}}</h5>
              </div>

              <!-- Columna 2: Imagen -->
              <div style="flex: 1; display: flex; justify-content: center;" *ngIf="estado.imagenPartido">
                <img [src]="'data:image/png;base64,' + estado.imagenPartido.data" alt="Imagen"
                  style="width: 200px; height: auto;">
              </div>

              <!-- Columna 3: Botones -->
              <div style="flex: 1; display: flex; justify-content: flex-end;">
                <!-- <button mat-icon-button matTooltip="Editar">
                  <mat-icon matPrefix class="custom-iconEdit"></mat-icon>
                </button> -->
                <button mat-icon-button matTooltip="Eliminar" (click)="onClickEliminarPartido(estado.id)">
                  <mat-icon matPrefix aria-label="delete" class="custom-iconDelete"></mat-icon>
                </button>
              </div>
              <mat-divider [inset]="true" *ngIf='!last'></mat-divider>
            </mat-list-item>
          </mat-list>
        </div>

        <div *ngIf="esCrearFuncionario" style="padding: 5%;">
          <h1>Funcionarios</h1>
          <button mat-raised-button color="primary" class="custom-button" (click)="onClickBtnNuevoFuncionario()">
            Crear
          </button>

          <mat-list class='mat-elevation-z1' *ngIf='listaFuncionarios.length > 0'>
            <mat-list-item *ngFor="let estado of listaFuncionarios; last as last"
              style="height: auto; padding: 2%; display: flex; align-items: center;">
              <div style="flex: 1;">
                <h4 mat-line>{{'Funcionario : '+estado.nombre}} {{estado.apellido}}</h4>
                <h5 mat-line>{{'Usuario : '+estado.nombreUsuario}}</h5>
              </div>
              <!-- Columna 3: Botones -->
              <div style="flex: 1; display: flex; justify-content: flex-end;">
                <!-- <button mat-icon-button matTooltip="Editar">
                  <mat-icon matPrefix class="custom-iconEdit"></mat-icon>
                </button> -->
                <button mat-icon-button matTooltip="Eliminar" (click)="onClickEliminarFuncionario(estado.id)">
                  <mat-icon matPrefix aria-label="delete" class="custom-iconDelete"></mat-icon>
                </button>
              </div>
              <mat-divider [inset]="true" *ngIf='!last'></mat-divider>
            </mat-list-item>
          </mat-list>
        </div>

        <div *ngIf="esFuncionario && esCasillas" style="padding: 5%;">
          <h1>Casillas</h1>
          <button mat-raised-button color="primary" class="custom-button" (click)="onClickBtnNuevoCasilla()">
            Crear
          </button>

          <mat-list class='mat-elevation-z1' *ngIf='casillas.length > 0'>
            <mat-list-item *ngFor="let estado of casillas; last as last"
              style="height: auto; padding: 2%; display: flex; align-items: center;">
              <div style="flex: 1;">
                <h4 mat-line>{{'Sección : '+estado.seccion}} </h4>
                <h5 mat-line>{{'Fecha Apertura: '+(estado.fechaInicio | date: 'short') }}</h5>
                <h5 mat-line>{{'Fecha Cierre: '+(estado.fechaFin | date: 'short')}}</h5>
              </div>
              <!-- Columna 3: Botones -->
              <div style="flex: 1; display: flex; justify-content: flex-end;">
                <button mat-icon-button matTooltip="Eliminar" (click)="onClickEliminarCasiila(estado.id)">
                  <mat-icon matPrefix aria-label="delete" class="custom-iconDelete"></mat-icon>
                </button>
              </div>
              <mat-divider [inset]="true" *ngIf='!last'></mat-divider>
            </mat-list-item>
          </mat-list>
        </div>

        <div *ngIf="esFuncionario && esAcciones" style="padding: 5%;">
          <h1>Acciones</h1>
          <br>
          <button mat-raised-button color="primary" class="custom-button" (click)="onClickDescargarActa()">
            Generar Acta de Votos
          </button>
        </div>
      </div>
    </div>
  </div>

  <mat-sidenav #sidenavEdicion mode="side" position="end" disableClose="true" style="width: 40%;">
    <div view-toolbar tall-toolbar></div>
    <div fxLayout="column" fxLayoutGap="16px" mat-sidenav-view-content tall-toolbar>
      <div
        style="display: flex; justify-content: space-between; align-items: center; padding-left: 5%; padding-top: 3%;">
        <!-- Título -->
        <span class="mat-title">{{tituloSideNavPartidos}}</span>

        <!-- Botón de cierre -->
        <button mat-icon-button matTooltip="Cerrar" (click)="onClickBtnCerrarSidenavPartido()">
          <mat-icon class="custom-iconCerrar"></mat-icon>
        </button>
      </div>
      <form fxLayout="column" fxLayoutGap="8px" [formGroup]="formEdicion">
        <div fxLayout="column">
          <mat-form-field style="width: 100%;">
            <input matInput type="text" placeholder="Nombre" formControlName="nombre" cdkFocusInitial required>
            <mat-error *ngIf="nombreControl.hasError('required')">
              Ingrese el Nombre del Partido
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-form-field style="width: 100%;">
            <input matInput type="text" placeholder="Descripcion" formControlName="descripcion">
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-form-field style="width: 100%;">
            <input matInput type="text" placeholder="Candidato" formControlName="candidato" required>
            <mat-error *ngIf="candidatoControl?.hasError('required')">
              Ingrese el Nombre del Candidato
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-form-field style="width: 100%;">
            <input matInput type="text" placeholder="Apellido" formControlName="apellido" required>
            <mat-error *ngIf="apellidoControl?.hasError('required')">
              Ingrese el Apellido del Candidato
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <p style="padding-left: 5%;">Logo</p>
          <div fxLayout="column" class="file-drop" (click)="archivoInput.click()">
            <div fxLayout="column" fxLayoutAlign="center">
              <div fxLayout="column" fxFlex>
                <input aria-label="Archivo" #archivoInput hidden="true" type="file" onclick="this.value=null"
                  (change)="onFileSelected($event)" formControlName="fileSource" />
                <div id="panel-drop-file" fxLayoutAlign="center center" (dragover)="onDragOver($event)"
                  (drop)="onDrop($event)">
                  <p *ngIf="!formEdicion.controls['fileName'].value">Arrastre el archivo aquí ...</p>
                </div>
                <p *ngIf="selectedFile"><mat-icon class="custom-iconFile"></mat-icon>
                  {{ selectedFile.name }}</p>
                <br>
                <mat-error
                  *ngIf="formEdicion.controls['fileName'].hasError('required') && submitted && tituloSideNavPartidos === 'Nuevo Partido'"
                  style="font-size: 75%;">
                  Añada un archivo
                </mat-error>
              </div>
            </div>
          </div>
        </div>
      </form>
      <br>
      <div fxLayout="column">
        <div
          style="display: flex; justify-content: space-between; align-items: center; padding-left: 5%; padding-top: 3%;">
          <p style="padding-left: 5%;">Propuestas</p>
          <button mat-icon-button matTooltip="Agregar" (click)="onClickAgregarPropuesta()">
            <mat-icon matPrefix aria-label="mas" class="custom-iconMas"></mat-icon>
          </button>
        </div>

        <form fxLayout="column" fxLayoutGap="8px" [formGroup]="formPropuesta">
          <div fxLayout="column">
            <mat-form-field style="width: 100%;">
              <input matInput type="text" placeholder="Nombre corto" formControlName="nombre" required>
              <mat-error *ngIf="nomPropControl?.hasError('required')">
                Ingrese el Nombre de Corto de la Propuesta.
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="column">
            <mat-form-field style="width: 100%;">
              <input matInput type="text" placeholder="Descripción" formControlName="descripcion" required>
              <mat-error *ngIf="descPropControl?.hasError('required')">
                Ingrese la descrripcion de la Propuesta.
              </mat-error>
            </mat-form-field>
          </div>
        </form>

        <mat-list class='mat-elevation-z1' *ngIf='propuestas.length > 0'>
          <mat-list-item *ngFor="let estado of propuestas; last as last"
            style="height: auto; padding: 2%; display: flex; align-items: center;">
            <div style="flex: 1;">
              <h4 mat-line>{{estado.nombreCorto}}</h4>
              <h5 mat-line>{{estado.descripcion}}</h5>
            </div>
            <!-- Columna 3: Botones -->
            <div style="flex: 1; display: flex; justify-content: flex-end;">
              <button mat-icon-button matTooltip="Editar">
                <mat-icon matPrefix class="custom-iconEdit"></mat-icon>
              </button>
              <button mat-icon-button matTooltip="Eliminar" (click)="onClickEliminarPartido(estado.id)">
                <mat-icon matPrefix aria-label="delete" class="custom-iconDelete"></mat-icon>
              </button>
            </div>

            <!-- Divider -->
            <mat-divider [inset]="true" *ngIf='!last'></mat-divider>
          </mat-list-item>

        </mat-list>
      </div>
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
        <button mat-button (click)="onClickBtnCerrarSidenavPartido()">Cancelar</button>
        <button mat-stroked-button color="primary" (click)="onClickGuardarPartido()">Guardar</button>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav #sidenavEdicionFuncionario mode="side" position="end" disableClose="true" style="width: 40%;">
    <!--ESTOO ES PARA FUNCIONARIOS-->
    <div view-toolbar tall-toolbar></div>
    <div fxLayout="column" fxLayoutGap="16px" mat-sidenav-view-content tall-toolbar>
      <div
        style="display: flex; justify-content: space-between; align-items: center; padding-left: 5%; padding-top: 3%;">
        <!-- Título -->
        <span class="mat-title">{{tituloSideNavFuncionario}}</span>

        <!-- Botón de cierre -->
        <button mat-icon-button matTooltip="Cerrar" (click)="onClickBtnCerrarSidenavFuncionario()">
          <mat-icon class="custom-iconCerrar"></mat-icon>
        </button>
      </div>
      <form fxLayout="column" fxLayoutGap="8px" [formGroup]="formEdicionFuncionario">
        <div fxLayout="column">
          <mat-form-field style="width: 100%;">
            <input matInput type="text" placeholder="Nombre" formControlName="nombre" cdkFocusInitial required>
            <mat-error *ngIf="nomFunControl.hasError('required')">
              Ingrese el Nombre del Funcionario
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-form-field style="width: 100%;">
            <input matInput type="text" placeholder="Apellido" formControlName="apellido" required>
            <mat-error *ngIf="apeFunControl?.hasError('required')">
              Ingrese el Apellio del Funcionario
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-form-field style="width: 100%;">
            <input matInput type="text" placeholder="Usuario" formControlName="usuarioFun" required>
            <mat-error *ngIf="usuarioFunControl?.hasError('required')">
              Ingrese el Usuario del Funcionario.
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-form-field style="width: 100%;">
            <input matInput type="text" placeholder="Contraseña" formControlName="contrasenia" required>
            <mat-error *ngIf="contraseniaControl?.hasError('required')">
              Ingrese la Contraseña del Funcionario.
            </mat-error>
          </mat-form-field>
        </div>
      </form>
      <br>
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
        <button mat-button (click)="onClickBtnCerrarSidenavFuncionario()">Cancelar</button>
        <button mat-stroked-button color="primary" (click)="onClickGuardarFuncionario()">Guardar</button>
      </div>
    </div>
  </mat-sidenav>

  <!--ESTOO ES PARA FUNCIONARIOS-->
  <mat-sidenav #sidenavEdicionCasilla mode="side" position="end" disableClose="true" style="width: 40%;">
    <div view-toolbar tall-toolbar></div>
    <div fxLayout="column" fxLayoutGap="16px" mat-sidenav-view-content tall-toolbar>
      <div
        style="display: flex; justify-content: space-between; align-items: center; padding-left: 5%; padding-top: 3%;">
        <!-- Título -->
        <span class="mat-title">Nueva Casilla</span>

        <!-- Botón de cierre -->
        <button mat-icon-button matTooltip="Cerrar" (click)="onClickBtnCerrarSidenavCasilla()">
          <mat-icon class="custom-iconCerrar"></mat-icon>
        </button>
      </div>
      <form fxLayout="column" fxLayoutGap="8px" [formGroup]="formCasilla">
        <div fxLayout="column">
          <mat-form-field style="width: 100%;">
            <input matInput type="text" placeholder="Sección" formControlName="seccion" cdkFocusInitial required>
            <mat-error *ngIf="seccionFunControl.hasError('required')">
              Ingrese la Sección de la Casilla
            </mat-error>
          </mat-form-field>
        </div>
        <br>
        <div fxFlex fxLayout="column">
          <p>Fecha Apertura</p>
          <mat-form-field style="width: 100%;">
            <input
              matInput
              readonly
              [matDatepicker]="pickerFechaInicio" formControlName="fechaInicio"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerFechaInicio"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerFechaInicio></mat-datepicker>
            <mat-error *ngIf="fechaInicioControl.hasError('required')">
              Seleccione una Fecha
            </mat-error>
          </mat-form-field>
        </div>
        <br>
        <div fxFlex fxLayout="column">
          <p>Fecha Cierre</p>
          <mat-form-field style="width: 100%;">
            <input
              matInput
              readonly
              [matDatepicker]="pickerFechaFin" formControlName="fechaFin"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerFechaFin"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerFechaFin></mat-datepicker>
            <mat-error *ngIf="fechaFinControl.hasError('required')">
              Seleccione una Fecha
            </mat-error>
          </mat-form-field>
        </div>
      </form>
      <br>
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
        <button mat-button (click)="onClickBtnCerrarSidenavCasilla()">Cancelar</button>
        <button mat-stroked-button color="primary" (click)="onClickGuardarCasilla()">Guardar</button>
      </div>
    </div>
  </mat-sidenav>

  
  <!-- Footer -->
<div class="container-footer">
<div class="footer-columns">
  <div class="footer-column">
      <p>Página con fines educativos</p>
  </div>
  <div class="prep-name">
    <p><img src="../assets/img/Mexico.png" alt=""></p>
  </div>
  <div class="footer-column">
     <p>© 2024 | Instituto Nacional Electoral</p>
  </div>
</div>
</div>
</ng-container>


              
           