<ng-container container>
  <div style="min-height: 100vh;">
    <div class="side-menu">

      <div class="prep-name">
        <img src="../assets/img/Logo-PREP.png" alt="">
      </div>
      <ul>
        <li *ngIf="!esFuncionario" (click) = "onClicListDashBoard()"><img src="../assets/img/Dashboard.png" alt="">&nbsp; <span style="font-size: 15px;">Panel de {{mRol?.rol}}</span></li>
        <li *ngIf="!esFuncionario" (click) = "onClicListPartidos()"><img src="../assets/img/Politic.png" alt="">&nbsp; <span style="font-size: 15px;">Partidos</span></li>
        <li *ngIf="!esFuncionario" (click) = "onClicListFuncionarioCasilla()"><img src="../assets/img/Person.png" alt="">&nbsp; <span style="font-size: 15px;">Funcionarios de Casilla</span></li>
        <li *ngIf="esFuncionario"><img src="../assets/img/Inventory.png" alt="">&nbsp; <span style="font-size: 15px;">Casillas</span></li>
      </ul>
    </div>

    <div class="container">
      <div class="header">
        <div class="nav">
          <div class="search">
            <input type="text" placeholder="search...">
            <!-- <button type="submit"><img src="../assets/img/Search.png" alt=""></button> -->
          </div>
          <div class="user">
            <a href="#" class="btn">Añadir Nuevo</a>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="cards" *ngIf="esDashBoard">
          <div class="card">
            <div class="box">
              <h1>2194</h1>
              <h3>Prueba</h3>
            </div>
            <div class="icon-case">
              <img src="" alt="">
            </div>
          </div>
          <div class="card">
            <div class="box">
              <h1>2194</h1>
              <h3>Prueba</h3>
            </div>
            <div class="icon-case">
              <img src="" alt="">
            </div>
          </div>
          <div class="card">
            <div class="box">
              <h1>2194</h1>
              <h3>Prueba</h3>
            </div>
            <div class="icon-case">
              <img src="" alt="">
            </div>
          </div>
        </div>
        <div class="content-2" *ngIf="esCrearFuncionario">
          <div class="recent-payments">
            <div class="title">
              <h2>FUNCIONARIO</h2>
            </div>
            <table>
              <tr>
                <th>Candidatos</th>
                <th>Partidos</th>
                <th>Votos Contabilizados</th>
              </tr>
            </table>
          </div>
          <div class="new-students">
            <div class="title">
              <h2>CASILLA</h2>
            </div>
            <table>
              <tr>
                <th>Hora Inicio</th>
                <th>Hora Fin</th>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>